{% extends 'index.html' %}
{% load static %}
{% load mathfilters %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block principal %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dietas: Años</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <div class="btn-group">
                        <a type="button" href="/" class="btn btn-default">Dashboard</a>
                        <a type="button" data-toggle="modal" data-target="#modal-edit" id="nuevo" class="btn btn-default">Registar Año</a>
                      </div>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                {% for anio in anios %}
                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box {% if anio.mes_set.all.count|div:12|mul:100 < 40 %}bg-success{% elif anio.mes_set.all.count|div:12|mul:100 == 50%}bg-warning{% else %}bg-danger{% endif %}">
                                        <span class="info-box-icon"><i class="fas fa-calendar-alt"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-number">Año: {{ anio }}
                                                <a href="#" data-toggle="modal" data-target="#modal-edit" class="datos" style="color: white" data-id="{{ anio.id }}" data-anio="{{ anio.anio }}"><i class="fa fa-edit"></i></a>
                                                <a href="/yeardiet/?remove={{ anio.id }}" style="color: white"><i class="fa fa-trash"></i></a>
                                            </span>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: {{ anio.mes_set.all.count|div:12|mul:100|floatformat:0 }}%"></div>
                                            </div>
                                            <span class="progress-description">{{ anio.mes_set.all.count|div:12|mul:100|floatformat:2}} % en {{ anio.mes_set.all.count }} Meses</span>
                                            <span><a href="/month/{{ anio.id }}/" style="color: white">Ver Registros</a></span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>

    <div class="modal fade" id="modal-edit" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Modificar Categoría</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" id="editar" method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="nombre" class="col-sm-3 col-form-label">Año</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="anio" name="anio"
                                               placeholder="Ingrese un Año">
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-info">Registrar</button>
                                <button type="button" data-dismiss="modal" class="btn btn-default float-right">
                                    Cancelar
                                </button>
                            </div>
                            <!-- /.card-footer -->
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


{% endblock %}
{% block script %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": true,
                "buttons": ["copy", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
    <script>
        $(".datos").click(function () {
            let id = $(this).data("id");
            let anio= $(this).data("anio");
            $("#editar").attr("action",'/yeardiet/?edit='+id);
            $("#anio").val(anio);
        })

        $("#nuevo").click(function () {
            $("#editar").attr("action",'/yeardiet/');
            $("#anio").val("");
        })
    </script>
{% endblock %}

